[alias]
  c = commit
  cm = commit -m
  cma = commit -a -m
  s = status
  d = diff
  a = add
  co = checkout
  b = branch
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Marty McFadden
	email = mcfadden8@llnl.gov
[core]
	editor = vim
  pager = less -X
[credential]
	helper = cache --timeout=43200
[sendemail]
	smtpserver = smtp.llnl.gov
	smtpserverport = 25
[color]
	ui = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[diff]
	submodule = log
[status]
	submoduleSummary = true
[pull]
	rebase = false
[oh-my-zsh]
	hide-status = 1
	hide-dirty = 1
